$spinner-animation-speed: 1.8s;

@import "../node_modules/bootstrap/scss/bootstrap";

body{
  width: 1920px;
  margin: auto;
  font-size: 20px;
  background-repeat: no-repeat;
  background-position-x: center;
  color: white;
  &#home{
    background-image: url(/img/bg3.jpg);
    >header{
      font-size: 2.5rem;
      text-align: center;
      margin-top: 2rem;
      font-weight: bold;
    }
  }
  &#detail{
    background-image: url(/img/bg2.jpg);
    >header{
      font-size: 32px;
      margin-top: 10px;
      font-weight: bold;
    }
  }
}
#home main{
  padding-top: 4.75rem;
  section{
    &#left{
      margin-left: 66px;
    }
    &#right{
      margin-right: 0px;
    }
    &#left>div, &#right>div{
      width: 310px;
    }
    header{
      margin-bottom: 76px;
      span{
        color: #ae8526;
        font-size: 2.5rem;
      }
    }
    >div{
      text-align: center;
      h3{
        margin-bottom: 15px;
      }
    }
    #gmv{
      margin-bottom: 16px;
      >div{
        p{
          font-size: 36px;
          margin: 0;
        }
      }
    }
    #ranking{
      >div{
        margin: 15px 0;
        span{
          width: 86px;
          align-self: center;
        }
        .progress{
          height: 1.5rem;
          .progress-bar{
            background-color: #1D56AD;
          }
        }
      }
    }
    &#middle{
      margin: 130px 0 0 40px;
      >div{
        width: 960px;
      }
      .left{
        width: 380px;
      }
      .right{
        width: 580px;
        text-align: left;
        >div{
          height: 248px;
        }
      }
      h3{
        margin-bottom: 4px;
      }
      #map{
        position: relative;
        margin-bottom: 4px;
        img{
          width: 350px;
        }
        >div{
          position: absolute;
        }
        .spinner-grow{
          width: 20px;
          height: 20px;
        }
        #spinner{
          top: 40px;
          left: 20px;
        }
        #spinner2{
          top: 80px;
          left: 90px;
        }
        #spinner3{
          top: 90px;
          left: 190px;
        }
        #spinner4{
          top: 110px;
          left: 230px;
        }
        #spinner5{
          top: 260px;
          left: 200px;
        }
        #spinner6{
          top: 190px;
          left: 120px;
        }
        #spinner7{
          top: 290px;
          left: 90px;
        }
        #spinner8{
          top: 260px;
          left: 30px;
        }
        #spinner9{
          top: 180px;
          left: 290px;
        }
      }
      #circle{
        >div{
          position: relative;
        }
        p{
          position: absolute;
          top: 104px;
          left: 40px;
        }
        .circle-progress-value {
          stroke-width: 6px;
          stroke: hsl(204deg 82% 57%);
        }
        .circle-progress-circle {
          stroke-width: 6px;
          stroke: hsl(204deg 72% 84%);
        }
        .circle-progress-text {
          fill: hsl(204deg 82% 57%);
        }
      }
    }
    &#right{
      header{
        margin-left: 128px;
      }
      >div{
        width: 360px;
        margin-left: 58px;
        text-align: left;
        >div{
          height: 334px;
        }
      }
    }
  }
  .progress{
    background-color: unset;
  }
  .chartLegend{
    font-size: 1.75rem;

  }
}
#detail{
  text-align: center;
  h3{
    text-align: left;
  }
  main{
    height: 498px;
    margin: 60px 0 0 32px;
    #left{
      h3{
        margin-left: 116px;
      }
      >div.row{
        width: 470px;
        margin-top: 50px;
        >div{
          margin-bottom: 72px;
          h5{
            color: #2c8dc1;
            margin-bottom: 32px;
          }
          span{
            font-size: 36px;
          }
        }
      }
    }
    #middle{
      margin-left: 40px;
      width: 840px;
      h3{
        margin-left: 100px;
      }
      .table-dark{
        --bs-table-bg: #132958;
        --bs-table-striped-bg: #101d4b;
      }
      th{
        background-color: #1a3975 !important;
      }
    }
    #right{
      //margin-left: 40px;
      height: 400px;
      h3{
        margin-left: 152px;
      }
    }
  }
}

div#row2{
  margin: 0 46px;
  #left{
    width: 906px;
    h3{
      margin-left: 100px;
    }
    .table-dark{
      //--bs-table-bg: #0b1436;
      --bs-table-striped-bg: #101d4b;
    }
    th{
      background-color: #0b1436 !important;
    }
  }
  #right{
    margin-left: 46px;
    height: 370px;
    h3{
      margin-left: 104px;
    }
  }
}
#logo-android{
  position: absolute;
  bottom: 0;
  left: 12px;
  height: 48px;
}
#arrow-right{
  position: absolute;
  top: 152px;
  right: 0;
  height: 80px;
}
#arrow-left{
  position: absolute;
  top: 16px;
  left: 0;
  height: 80px;
}
#map #container{
  width: 1920px;
  height: 1080px;
}
