body{
  &#home {
    background-image: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    color: white;
  }
}
section{
  margin-top: 168px;
  header{
    em{
      color: red;
    }
  }
  &>div{
    width: 310px;
  }
  &#left{
    margin-left: 66px;
  }
}
section>div{
}
section#left{
}
.progress{
  background-color: unset;
}
