body#home{
    background-image: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    color: white;
}
section{
  margin-top: 168px;
}
section>div{
  width: 310px;
}
section#left{
  margin-left: 66px;
}
section{
  header{
    em{
      color: red;
    }
  }
}
.progress{
  background-color: unset;
}
