body{
  width: 1920px;
  margin: auto;
  font-size: 20px;
  &#home {
    background-image: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    color: white;
  }
}
main{
  padding-top: 168px;
  section{
    &#left{
      margin-left: 66px;
    }
    &#right{
      margin-right: 0px;
    }
    &#left>div, &#right>div{
      width: 310px;
    }
    header{
      margin-bottom: 76px;
      span{
        font-size: 2.5rem;
      }
    }
    >div{
      text-align: center;
      h3{
        margin-bottom: 15px;
      }
    }
    #gmv{
      margin-bottom: 16px;
      >div{
        p{
          font-size: 36px;
          margin: 0;
        }
      }
    }
    #ranking{
      >div{
        margin: 15px 0;
        span{
          width: 86px;
          align-self: center;
        }
        .progress{
          height: 1.5rem;
        }
      }
    }
    &#middle{
      margin: 130px 0 0 40px;
      >div{
        width: 960px;
      }
      .left{
        width: 380px;
      }
      .right{
        width: 580px;
      }
      h3{
        margin-bottom: 4px;
      }
      #map{
        margin-bottom: 4px;
        img{
          width: 350px;
        }
      }
      #circle{
        >div{
          position: relative;
        }
        p{
          position: absolute;
          top: 104px;
          left: 40px;
        }
        .circle-progress-value {
          stroke-width: 6px;
          stroke: hsl(193deg 98% 50%);
        }
        .circle-progress-circle {
          stroke-width: 6px;
          stroke: hsl(213deg 41% 46%);
        }
        .circle-progress-text {
          fill: hsl(193deg 98% 50%);
        }
      }
    }
    &#right{
      header{
        margin-left: 128px;
      }
      >div{
        width: 360px;
        margin-left: 58px;
      }
    }
  }
  .progress{
    background-color: unset;
  }
}
